.left {
    background: url('../../assets/img/loginimg.png');
    // background-position: top bottom;
    padding: 0;
    height: 100vh;
    display: block;
    margin  : 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}